<template>
  <el-card v-loading.lock="loading">
    <div slot="header" class="header">
      <h1>Buyurtmalar</h1>
      <el-radio-group v-model="person" @change="loadOrders" size="medium">
        <el-radio-button label="YUR"></el-radio-button>
        <el-radio-button label="FIZ"></el-radio-button>
      </el-radio-group>
    </div>
    <el-main class="list-wrap">
      <el-table size="mini" border :data="data">
        <el-table-column type="expand">
          <template slot-scope="scope">
            <el-table border size="mini" :data="scope.row.advForms">
              <el-table-column
                label="ID"
                prop="id"
                width="80"
              ></el-table-column>
              <el-table-column
                label="Shartnoma raqami"
                prop="contractId"
                width="130"
              ></el-table-column>
              <el-table-column
                label="Reklama turi"
                prop="type"
                width="200"
              ></el-table-column>
              <el-table-column label="Nomi" prop="name"></el-table-column>

              <el-table-column
                label="Ta'rif"
                prop="description"
              ></el-table-column>
            </el-table>
          </template>
        </el-table-column>
        <el-table-column
          label="ID"
          align="center"
          prop="id"
          width="80"
        ></el-table-column>
        <el-table-column
          width="150"
          prop="cost"
          label="Narxi"
        ></el-table-column>
        <el-table-column
          v-if="person === 'FIZ'"
          min-width="200"
          prop="fullName"
          label="To'liq ismi"
        ></el-table-column>
        <el-table-column
          v-if="person === 'FIZ'"
          min-width="150"
          prop="passportSN"
          label="Pasport seriya raqami"
        ></el-table-column>
        <el-table-column
          v-if="person === 'FIZ'"
          min-width="250"
          prop="passportWhoGive"
          label="Kim tomonidan berilgan"
        ></el-table-column>
        <el-table-column
          v-if="person === 'YUR'"
          min-width="250"
          prop="firmName"
          label="Firma nomi"
        ></el-table-column>
        <el-table-column
          min-width="250"
          prop="address"
          label="Manzili"
        ></el-table-column>
        <el-table-column
          v-if="person === 'YUR'"
          min-width="150"
          prop="inn"
          label="STIR"
        ></el-table-column>
        <el-table-column
          v-if="person === 'YUR'"
          min-width="150"
          prop="bankInform"
          label="Bank ma'lumoti"
        ></el-table-column>
        <el-table-column
          v-if="person === 'YUR'"
          min-width="200"
          prop="mfo"
          label="MFO"
        ></el-table-column>
        <el-table-column
          v-if="person === 'YUR'"
          min-width="200"
          prop="directorFIO"
          label="Rahbar"
        ></el-table-column>
        <el-table-column
          min-width="200"
          prop="phoneNumber"
          label="Telefon raqami"
        ></el-table-column>
        <el-table-column
          min-width="200"
          prop="fromDate"
          label="Joylash sanasi"
        ></el-table-column>
        <el-table-column min-width="200" prop="paid" label="To'lov">
          <template slot-scope="scope">
            {{ scope.row.paid ? "Tolangan" : "To'lanmagan" }}
          </template>
        </el-table-column>
        <el-table-column width="100" align="center">
          <template slot-scope="scope">
            <el-button-group>
              <el-button
                size="mini"
                type="danger"
                icon="las la-lg la-trash"
                @click="deleteOrder(scope.row.id)"
              ></el-button>
            </el-button-group>
          </template>
        </el-table-column>
      </el-table>
    </el-main>
  </el-card>
</template>

<script>
export default {
  name: "OrderList",
  data() {
    return {
      loading: false,
      data: [],
      person: "FIZ"
    };
  },
  methods: {
    loadOrders() {
      this.loading = true;
      this.$http("order", {
        params: {
          person: this.person
        }
      })
        .then(({ data }) => {
          this.data = data;
        })
        .catch(({ response }) => {
          this.$alert(
            `${response.data.error_description ||
              "Ma'lumotlarni yuklashda xatolik bo'ldi!"}`,
            `Xatolik!`,
            {
              confirmButtonText: "OK",
              type: "error"
            }
          );
        })
        .finally(() => {
          this.loading = false;
        });
    },
    deleteOrder(id) {
      this.$confirm(`Buyurtmani o'chirasizmi?`, `Diqqat!`, {
        confirmButtonText: `Ha`,
        cancelButtonText: `Yo'q`,
        type: "warning"
      }).then(() => {
        this.loading = false;
        this.$http
          .delete(`order/${id}`)
          .then(() => {
            this.loadOrders();
            this.$notify({
              title: "Muvafaqiyatli o'chirildi!",
              type: "success"
            });
          })
          .catch(({ response }) => {
            this.$alert(
              `${response.data.error_description ||
                "Amaliyotni bajarishda xatolik bo'ldi!"}`,
              `Xatolik!`,
              {
                confirmButtonText: "OK",
                type: "error"
              }
            );
          })
          .finally(() => {
            this.loading = false;
          });
      });
    }
  },
  mounted() {
    this.loadOrders();
  }
};
</script>

<style scoped>
.list-wrap {
  height: calc(100vh - 200px);
  overflow-y: auto;
}
</style>
