<template>
  <el-card v-loading.lock="loading">
    <div slot="header" class="header">
      <h1>Shartnomalar</h1>
      <linked-button route="ContractAdd">Qo'shish</linked-button>
    </div>
    <el-main class="list-wrap">
      <el-table size="mini" border :data="data">
        <el-table-column type="expand">
          <template slot-scope="scope">
            <el-table border size="mini" :data="scope.row.advertisingFormDto">
              <el-table-column
                label="ID"
                prop="id"
                width="80"
              ></el-table-column>
              <el-table-column
                label="Reklama turi"
                prop="name"
              ></el-table-column>
            </el-table>
          </template>
        </el-table-column>
        <el-table-column
          label="ID"
          align="center"
          prop="id"
          width="80"
        ></el-table-column>
        <el-table-column prop="name" label="Shartnoma nomi"></el-table-column>
        <el-table-column
          prop="contractNumber"
          label="Shartnoma raqami"
        ></el-table-column>
        <el-table-column
          prop="contractDate"
          label="Shartnoma sanasi"
        ></el-table-column>
        <el-table-column width="200" align="center">
          <template slot-scope="scope">
            <el-button-group>
              <linked-button
                size="mini"
                type="primary"
                icon="las la-lg la-edit"
                route="ContractEdit"
                :params="{ id: scope.row.id }"
              ></linked-button>
              <el-button
                size="mini"
                type="danger"
                icon="las la-lg la-trash"
                @click="deleteContract(scope.row.id)"
              ></el-button>
            </el-button-group>
          </template>
        </el-table-column>
      </el-table>
    </el-main>
  </el-card>
</template>

<script>
import LinkedButton from "@/components/button/LinkedButton";
export default {
  name: "ContractList",
  components: { LinkedButton },
  data() {
    return {
      loading: false,
      data: []
    };
  },
  methods: {
    loadContracts() {
      this.loading = true;
      this.$http("contract/all")
        .then(({ data }) => {
          this.data = data;
        })
        .catch(({ response }) => {
          this.$alert(
            `${response.data.error_description ||
              "Ma'lumotlarni yuklashda xatolik bo'ldi!"}`,
            `Xatolik!`,
            {
              confirmButtonText: "OK",
              type: "error"
            }
          );
        })
        .finally(() => {
          this.loading = false;
        });
    },
    deleteContract(id) {
      this.$confirm(`Shartnomani o'chirasizmi?`, `Diqqat!`, {
        confirmButtonText: `Ha`,
        cancelButtonText: `Yo'q`,
        type: "warning"
      }).then(() => {
        this.loading = false;
        this.$http
          .delete(`contract/${id}`)
          .then(() => {
            this.loadContracts();
            this.$notify({
              title: "Muvafaqiyatli o'chirildi!",
              type: "success"
            });
          })
          .catch(({ response }) => {
            this.$alert(
              `${response.data.error_description ||
                "Amaliyotni bajarishda xatolik bo'ldi!"}`,
              `Xatolik!`,
              {
                confirmButtonText: "OK",
                type: "error"
              }
            );
          })
          .finally(() => {
            this.loading = false;
          });
      });
    }
  },
  mounted() {
    this.loadContracts();
  }
};
</script>

<style scoped>
.list-wrap {
  height: calc(100vh - 200px);
  overflow-y: auto;
}
</style>
