<template>
  <el-card>
    <div slot="header">{{ title }}</div>
    <el-main>
      <el-row :gutter="20">
        <el-col :xs="24" :sm="20" :md="18" :lg="12" :xl="10">
          <el-form
            size="small"
            class="form"
            :model="form"
            label-position="top"
            ref="form"
            :rules="rules"
          >
            <el-row :gutter="20">
              <el-col :span="12">
                <el-form-item prop="nameUz" label="Nomi (uz)">
                  <el-input
                    v-model="form.nameUz"
                    placeholder="Nomi (uz)"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item prop="nameRu" label="Nomi (ru)">
                  <el-input
                    v-model="form.nameRu"
                    placeholder="Nomi (ru)"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item prop="contractNumber" label="Shartnoma raqami">
                  <el-input
                    v-model="form.contractNumber"
                    placeholder="Shartnoma raqami"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item prop="contractDate" label="Shartnoma sanasi">
                  <el-date-picker
                    v-model="form.contractDate"
                    class="form-select"
                    type="date"
                    format="yyyy-MM-dd"
                    value-format="yyyy-MM-dd"
                    placeholder="Shartnoma sanasi"
                  >
                  </el-date-picker>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item prop="advFormId" label="Reklama turlari">
                  <el-select
                    class="form-select"
                    v-model="form.advFormId"
                    multiple
                    placeholder="Reklama turlari"
                  >
                    <el-option
                      v-for="item in advTypes"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item prop="note" label="Eslatma">
                  <el-input
                    :rows="5"
                    type="textarea"
                    v-model="form.note"
                    placeholder="Eslatma"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24" align="right">
                <el-form-item>
                  <el-button type="primary" size="mini" @click="save">
                    Saqlash
                  </el-button>
                  <BackButton>Ortga</BackButton>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </el-col>
      </el-row>
    </el-main>
  </el-card>
</template>

<script>
import BackButton from "@/components/button/BackButton";
export default {
  name: "ContractForm",
  components: { BackButton },
  data() {
    return {
      loading: false,
      title: "Shartnoma qo'shish",
      form: {
        id: null,
        advFormId: [],
        contractDate: null,
        contractNumber: null,
        nameRu: null,
        nameUz: null,
        note: null
      },
      contracts: [],
      advTypes: [],
      rules: {
        advFormId: [
          {
            required: true,
            message: "Majburiy maydon",
            trigger: "change"
          }
        ],
        contractDate: [
          {
            required: true,
            message: "Majburiy maydon",
            trigger: "blur"
          }
        ],
        contractNumber: [
          {
            required: true,
            message: "Majburiy maydon",
            trigger: "blur"
          }
        ],
        nameRu: [
          {
            required: true,
            message: "Majburiy maydon",
            trigger: "blur"
          }
        ],
        nameUz: [
          {
            required: true,
            message: "Majburiy maydon",
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    save() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.loading = true;
          let http;
          if (this.form.id) {
            http = this.$http.put(`/contract/${this.form.id}`, this.form);
          } else {
            http = this.$http.post("/contract", this.form);
          }
          http
            .then(() => {
              this.$message({
                message: "Muvafaqiyatli saqlandi",
                type: "success"
              });
              this.$router.go(-1);
            })
            .catch(({ response }) => {
              this.$alert(
                response.data.error_description || "Saqlashda xatolik bo'ldi!",
                "Xatolik!",
                {
                  confirmButtonText: "OK",
                  type: "error"
                }
              );
            })
            .finally(() => {
              this.loading = false;
            });
        }
      });
    },
    loadContract() {
      this.loading = true;
      this.$http
        .get("contract/" + this.form.id)
        .then(({ data }) => {
          this.form.nameRu = data.name;
          this.form.nameUz = data.name;
          this.form.contractNumber = data.contractNumber;
          this.form.contractDate = data.contractDate;
          this.form.advFormId = data.advertisingFormDto.map(item => item.id);
        })
        .catch(({ response }) => {
          this.$alert(
            response.data.error_description ||
              "Ma'lumot yuklashda xatolik bo'ldi!",
            "Xatolik!",
            {
              confirmButtonText: "OK",
              type: "error"
            }
          );
        })
        .finally(() => {
          this.loading = false;
        });
    },
    loadAdvTypes() {
      this.loading = true;
      this.$http
        .get("advertising-form")
        .then(({ data }) => {
          this.advTypes = data;
        })
        .catch(({ response }) => {
          this.$alert(
            response.data.error_description ||
              "Ma'lumot yuklashda xatolik bo'ldi!",
            "Xatolik!",
            {
              confirmButtonText: "OK",
              type: "error"
            }
          );
        })
        .finally(() => {
          this.loading = false;
        });
    }
  },
  mounted() {
    this.loadAdvTypes();
    if (this.$route.params.id) {
      this.title = "Shartnomani tahrirlash";
      this.form.id = this.$route.params.id;
      this.loadContract();
    }
  }
};
</script>

<style scoped>
.form-select {
  width: 100%;
}
</style>
