<template>
  <el-card>
    <div slot="header">{{ title }}</div>
    <el-main>
      <el-row :gutter="20">
        <el-col :xs="24" :sm="20" :md="18" :lg="12" :xl="10">
          <el-form
            size="small"
            class="form"
            :model="form"
            label-position="top"
            ref="form"
            :rules="rules"
          >
            <el-row :gutter="20">
              <el-col :span="12">
                <el-form-item prop="contractId" label="Shartnoma">
                  <el-select
                    class="form-select"
                    v-model="form.contractId"
                    placeholder="Shartnoma"
                  >
                    <el-option
                      v-for="contract in contracts"
                      :key="contract.id"
                      :label="contract.name"
                      :value="contract.id"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item prop="name" label="Nomi">
                  <el-input v-model="form.name" placeholder="Nomi"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item prop="days" label="Necha kun turishi">
                  <el-input
                    v-model="form.days"
                    placeholder="To'liq ismi"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item prop="price" label="Narxi">
                  <el-input v-model="form.price" placeholder="Naxi"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item prop="price" label="Ta'rif (uz)">
                  <el-input
                    v-model="form.descriptionUz"
                    placeholder="Ta'rif (uz)"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item prop="price" label="Ta'rif (ru)">
                  <el-input
                    v-model="form.descriptionRu"
                    placeholder="Ta'rif (ru)"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item prop="type" label="Reklama turi">
                  <el-select
                    class="form-select"
                    v-model="form.type"
                    placeholder="Reklama turi"
                  >
                    <el-option
                      v-for="type in advTypes"
                      :key="type"
                      :label="type"
                      :value="type"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24" align="right">
                <el-form-item>
                  <el-button type="primary" size="mini" @click="save">
                    Saqlash
                  </el-button>
                  <BackButton>Ortga</BackButton>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </el-col>
      </el-row>
    </el-main>
  </el-card>
</template>

<script>
import BackButton from "@/components/button/BackButton";
export default {
  name: "AdvForm",
  components: { BackButton },
  data() {
    return {
      loading: false,
      title: "Reklama joylash shakli qo'shish",
      form: {
        contractId: null,
        days: null,
        descriptionRu: null,
        descriptionUz: null,
        id: null,
        name: null,
        price: null,
        type: "MAGAZINE"
      },
      contracts: [],
      advTypes: [
        "SOCIAL_NETWORK",
        "WEB_SITE",
        "MAGAZINE",
        "OUTER_ADVERTISING",
        "TRANSPORT_MAIL"
      ],
      rules: {
        contractId: [
          {
            required: true,
            message: "Majburiy maydon",
            trigger: "change"
          }
        ],
        days: [
          {
            required: true,
            message: "Majburiy maydon",
            trigger: "blur"
          }
        ],
        descriptionRu: [
          {
            required: true,
            message: "Majburiy maydon",
            trigger: "blur"
          }
        ],
        descriptionUz: [
          {
            required: true,
            message: "Majburiy maydon",
            trigger: "blur"
          }
        ],
        name: [
          {
            required: true,
            message: "Majburiy maydon",
            trigger: "blur"
          }
        ],
        price: [
          {
            required: true,
            message: "Majburiy maydon",
            trigger: "blur"
          }
        ],
        type: [
          {
            required: true,
            message: "Majburiy maydon",
            trigger: "change"
          }
        ]
      }
    };
  },
  methods: {
    save() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.loading = true;
          let http;
          if (this.form.id) {
            http = this.$http.put(`/adv-put-form/${this.form.id}`, this.form);
          } else {
            http = this.$http.post("/adv-put-form", this.form);
          }
          http
            .then(() => {
              this.$message({
                message: "Muvafaqiyatli saqlandi",
                type: "success"
              });
              this.$router.go(-1);
            })
            .catch(({ response }) => {
              this.$alert(
                response.data.error_description || "Saqlashda xatolik bo'ldi!",
                "Xatolik!",
                {
                  confirmButtonText: "OK",
                  type: "error"
                }
              );
            })
            .finally(() => {
              this.loading = false;
            });
        }
      });
    },
    loadAdvForm() {
      this.loading = true;
      this.$http
        .get("adv-put-form/" + this.form.id)
        .then(({ data }) => {
          this.form.contractId = data.contractId;
          this.form.days = data.days;
          this.form.name = data.name;
          this.form.price = data.price;
          this.form.type = data.type;
          this.form.descriptionUz = data.description;
          this.form.descriptionRu = data.description;
        })
        .catch(({ response }) => {
          this.$alert(
            response.data.error_description || "Ma'lumot yuklashda xatolik bo'ldi!",
            "Xatolik!",
            {
              confirmButtonText: "OK",
              type: "error"
            }
          );
        })
        .finally(() => {
          this.loading = false;
        });
    },
    loadContracts() {
      this.loading = true;
      this.$http
        .get("contract/all")
        .then(({ data }) => {
          this.contracts = data;
        })
        .catch(({ response }) => {
          this.$alert(
            response.data.error_description || "Shartnomalarni yuklashda xatolik bo'ldi!",
            "Xatolik!",
            {
              confirmButtonText: "OK",
              type: "error"
            }
          );
        })
        .finally(() => {
          this.loading = false;
        });
    }
  },
  mounted() {
    this.loadContracts();
    if (this.$route.params.id) {
      this.title = "Reklama joylash shaklini tahrirlash";
      this.form.id = this.$route.params.id;
      this.loadAdvForm();
    }
  }
};
</script>

<style scoped>
.form-select {
  width: 100%;
}
</style>
