<template>
  <el-card v-loading.lock="loading">
    <div slot="header" class="header">
      <h1>Reklama joylash shakllari</h1>
      <linked-button route="AdvFormAdd">Qo'shish</linked-button>
    </div>
    <el-main class="list-wrap">
      <el-table size="mini" border :data="data">
        <el-table-column
          type="index"
          label="#"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="contractId"
          label="Shartnoma"
          width="100"
        ></el-table-column>
        <el-table-column prop="name" label="Nomi"></el-table-column>
        <el-table-column
          prop="price"
          label="Narxi (so'm)"
          width="100"
        ></el-table-column>
        <el-table-column prop="type" label="Turi" width="150"></el-table-column>
        <el-table-column prop="description" label="Ta'rif(uz)">
          <template slot-scope="scope">
            {{ scope.row.description.uz }}
          </template>
        </el-table-column>
        <el-table-column prop="description" label="Ta'rif(ru)">
          <template slot-scope="scope">
            {{ scope.row.description.ru }}
          </template>
        </el-table-column>
        <el-table-column width="200" align="center">
          <template slot-scope="scope">
            <el-button-group>
              <linked-button
                size="mini"
                type="primary"
                icon="las la-lg la-edit"
                route="AdvFormEdit"
                :params="{ id: scope.row.id }"
              ></linked-button>
              <el-button
                size="mini"
                type="danger"
                icon="las la-lg la-trash"
                @click="deleteAdvForm(scope.row.id)"
              ></el-button>
              <el-button
                size="mini"
                :type="scope.row.active ? 'success' : 'info'"
                @click="changeActive(scope.row.id)"
              >
                {{ scope.row.active ? "ON" : "OFF" }}
              </el-button>
            </el-button-group>
          </template>
        </el-table-column>
      </el-table>
    </el-main>
  </el-card>
</template>

<script>
import LinkedButton from "@/components/button/LinkedButton";
export default {
  name: "AdvFormList",
  components: { LinkedButton },
  data() {
    return {
      loading: false,
      data: []
    };
  },
  methods: {
    loadAdvForms() {
      this.loading = true;
      this.$http("adv-put-form/all")
        .then(({ data }) => {
          this.data = data;
        })
        .catch(({ response }) => {
          this.$alert(
            `${response.data.error_description ||
              "Ma'lumotlarni yuklashda xatolik bo'ldi!"}`,
            `Xatolik!`,
            {
              confirmButtonText: "OK",
              type: "error"
            }
          );
        })
        .finally(() => {
          this.loading = false;
        });
    },
    deleteAdvForm(id) {

      this.$confirm(`Reklama joylash shaklini o'chirasizmi?`, `Diqqat!`, {
        confirmButtonText: `Ha`,
        cancelButtonText: `Yo'q`,
        type: "warning"
      }).then(() => {
        this.loading = false;
        this.$http
            .delete(`adv-put-form/${id}`)
            .then(() => {
              this.loadAdvForms();
              this.$notify({
                title: "Muvafaqiyatli o'chirildi!",
                type: "success"
              });
            })
            .catch(({ response }) => {
              this.$alert(
                  `${response.data.error_description ||
                  "Amaliyotni bajarishda xatolik bo'ldi!"}`,
                  `Xatolik!`,
                  {
                    confirmButtonText: "OK",
                    type: "error"
                  }
              );
            })
            .finally(() => {
              this.loading = false;
            });
      });
    },
    changeActive(id) {
      this.$confirm("Aktivlik holatini o'zgartirasizmi?", "Diqqat!", {
        confirmButtonText: "Ha",
        cancelButtonText: "Bekor qilish",
        type: "warning"
      }).then(() => {
        this.$http
          .patch(`adv-put-form/${id}`, null)
          .then(() => {
            this.$notify({
              title: "Muvaffaqiyatli amalga oshiririldi!",
              type: "success"
            });
            this.loadAdvForms();
          })
          .catch(({ res }) => {
            this.$alert(
              res.data.error_description || "Amaliyot bajarilishida xatolik bo'ldi!",
              "Xatolik",
              {
                confirmButtonText: this.$t("message.ok"),
                type: "error"
              }
            );
          });
      });
    }
  },
  mounted() {
    this.loadAdvForms();
  }
};
</script>

<style scoped>
.list-wrap {
  height: calc(100vh - 200px);
  overflow-y: auto;
}
</style>
