<template>
  <el-card v-loading.lock="loading">
    <div slot="header" class="header"><h1>Foydalanuvchilar</h1>
      <linked-button route="UserAdd">Qo'shish</linked-button>
    </div>
    <el-main class="user-list-wrapper">
      <el-table size="mini" border :data="data">
        <el-table-column type="index" label="#"></el-table-column>
        <el-table-column
          prop="username"
          label="Foydalanuvchi nomi"
        ></el-table-column>
        <el-table-column prop="fullName" label="To'liq ismi"></el-table-column>
        <el-table-column
          prop="role"
          label="Foydalanuvchi roli"
        ></el-table-column>
        <el-table-column prop="createdDate" label="Yaratilgan vaqti">
          <template slot-scope="scope">
            {{ $moment(scope.row.createdDate).format("DD.MM.YYYY") }}
          </template>
        </el-table-column>
        <el-table-column align="center" width="150">
          <template slot-scope="scope">
            <linked-button type="primary" icon="las la-lg la-edit" route="UserEdit" :params="{id: scope.row.id}"></linked-button>
            <el-button
              size="mini"
              type="danger"
              icon="las la-lg la-trash"
              @click="deleteUser(scope.row.id)"
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-main>
  </el-card>
</template>

<script>
import LinkedButton from "@/components/button/LinkedButton";
export default {
  name: "UserList",
  components: {LinkedButton},
  data() {
    return {
      loading: false,
      data: []
    };
  },
  methods: {
    loadUsers() {
      this.loading = true;
      this.$http("user")
        .then(({ data }) => {
          this.data = data;
        })
        .catch(({ response }) => {
          this.$alert(
            `${response.data.message ||
              "Ma'lumotlarni yuklashda xatolik bo'ldi!"}`,
            `Xatolik!`,
            {
              confirmButtonText: "OK",
              type: "error"
            }
          );
        })
        .finally(() => {
          this.loading = false;
        });
    },
    deleteUser(id) {
      this.$confirm(`Foydalanuvchini o'chirasizmi?`, `Diqqat!`, {
        confirmButtonText: `Ha`,
        cancelButtonText: `Yo'q`,
        type: "warning"
      }).then(() => {
        this.loading = false;
        this.$http
          .delete(`user/${id}`)
          .then(() => {
            this.loadUsers();
            this.$notify({
              title: "Muvafaqiyatli o'chirildi!",
              type: "success"
            });
          })
          .catch(({ response }) => {
            this.$alert(
              `${response.data.error_description ||
                "Amaliyotni bajarishda xatolik bo'ldi!"}`,
              `Xatolik!`,
              {
                confirmButtonText: "OK",
                type: "error"
              }
            );
          })
          .finally(() => {
            this.loading = false;
          });
      });
    }
  },
  mounted() {
    this.loadUsers();
  }
};
</script>

<style scoped>
.user-list-wrapper {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}
</style>
