<template>
  <el-card>
    <div slot="header">{{ title }}</div>
    <el-main>
      <el-row :gutter="20">
        <el-col :xs="24" :sm="20" :md="18" :lg="12" :xl="10">
          <el-form
            size="small"
            class="form"
            :model="form"
            label-position="top"
            ref="form"
            :rules="rules"
          >
            <el-row :gutter="20">
              <el-col :span="12">
                <el-form-item prop="username" label="Foydalanuvchi nomi">
                  <el-input
                    :disabled="!!form.id"
                    v-model="form.username"
                    placeholder="Foydalanuvchi nomi"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item prop="fullName" label="To'iq ismi">
                  <el-input
                    v-model="form.fullName"
                    placeholder="To'liq ismi"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col v-if="!form.id" :span="12">
                <el-form-item prop="password" label="Parol">
                  <el-input
                    v-model="form.password"
                    placeholder="Parol"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item prop="role" label="Foydalanuvchi roli">
                  <el-select
                    :disabled="!!form.id"
                    class="form-select"
                    v-model="form.role"
                    placeholder="Foydalanuvchi roli"
                  >
                    <el-option
                      v-for="role in roles"
                      :key="role"
                      :label="role"
                      :value="role"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24" align="right">
                <el-form-item>
                  <el-button type="primary" size="mini" @click="saveUser">
                    Saqlash
                  </el-button>
                  <BackButton>Ortga</BackButton>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </el-col>
      </el-row>
    </el-main>
  </el-card>
</template>

<script>
import BackButton from "@/components/button/BackButton";
export default {
  name: "UserForm",
  components: { BackButton },
  data() {
    return {
      loading: false,
      title: "Foydalanuvchi qo'shish",
      form: {
        id: null,
        username: null,
        fullName: null,
        role: null,
        password: null
      },
      roles: ["SUPER_ADMIN", "ADMIN", "MODERATOR", "USER"],
      rules: {
        username: [
          {
            required: true,
            message: "Majburiy maydon",
            trigger: "blur"
          }
        ],
        fullName: [
          {
            required: true,
            message: "Majburiy maydon",
            trigger: "blur"
          }
        ],
        role: [
          {
            required: true,
            message: "Majburiy maydon",
            trigger: "blur"
          }
        ],
        password: [
          {
            required: true,
            message: "Majburiy maydon",
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    saveUser() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.loading = true;
          let http;
          if (this.form.id) {
            http = this.$http.put(`/user/${this.form.id}`, this.form);
          } else {
            http = this.$http.post("/user", this.form);
          }
          http
            .then(() => {
              this.$message({
                message: "Muvafaqiyatli saqlandi",
                type: "success"
              });
              this.$router.go(-1);
            })
            .catch(({ response }) => {
              this.$alert(
                response.data.error_description || "Saqlashda xatolik bo'ldi!",
                "Xatolik!",
                {
                  confirmButtonText: "OK",
                  type: "error"
                }
              );
            })
            .finally(() => {
              this.loading = false;
            });
        }
      });
    },
    loadUser() {
      this.loading = true;
      this.$http
          .get("user/" + this.form.id)
          .then(({ data }) => {
            this.form.role = data.role;
            this.form.username = data.username;
            this.form.fullName = data.fullName;
          })
          .catch(({ response }) => {
            this.$alert(
                response.data.error_description || "Ma'lumot yuklashda xatolik bo'ldi!",
                "Xatolik!",
                {
                  confirmButtonText: "OK",
                  type: "error"
                }
            );
          })
          .finally(() => {
            this.loading = false;
          });
    },
  },
  mounted() {
    if (this.$route.params.id) {
      this.title = "Foydalanuvchini tahrirlash";
      this.form.id = this.$route.params.id;
      this.loadUser();
    }
  }
};
</script>

<style scoped>
.form-select{
  width: 100%;
}
</style>
