<template>
<el-card v-loading.lock="loading">
  <div slot="header">Reklama berish turlari</div>
  <el-main class="list-wrap">
    <el-table size="mini" border :data="data">
      <el-table-column
          align="center"
          prop="id"
          label="ID"
          width="100"
      ></el-table-column>
      <el-table-column prop="name" label="Nomi"></el-table-column>
    </el-table>
  </el-main>
</el-card>
</template>

<script>
export default {
name: "AdvTypes",
  data(){
  return{
    loading: false,
    data: []
  }
  },
  methods:{
    loadAdvTypes() {
      this.loading = true;
      this.$http("advertising-form")
          .then(({ data }) => {
            this.data = data;
          })
          .catch(({ response }) => {
            this.$alert(
                `${response.data.error_description ||
                "Ma'lumotlarni yuklashda xatolik bo'ldi!"}`,
                `Xatolik!`,
                {
                  confirmButtonText: "OK",
                  type: "error"
                }
            );
          })
          .finally(() => {
            this.loading = false;
          });
    },
  },
  mounted() {
  this.loadAdvTypes()
  }
}
</script>

<style scoped>

</style>
