<template>
  <el-card v-loading.lock="loading">
    <div slot="header" class="header">
      <h1>Autsorsing</h1>
    </div>
    <el-main class="list-wrap">
      <el-table size="mini" border :data="data.content">
        <el-table-column
            label="ID"
            align="center"
            prop="id"
            width="80"
        ></el-table-column>
        <el-table-column
            prop="name"
            label="To'liq ismi"
        ></el-table-column>
        <el-table-column
            prop="companyName"
            label="Firma nomi"
        ></el-table-column>
        <el-table-column
            prop="phone"
            label="Telefon raqami"
        ></el-table-column>
        <el-table-column
            min-width="200"
            prop="fileUrl"
            label="Fayl"
        >
          <template slot-scope="scope">
            <el-button type="text" @click="downloadFile(scope.row.fileUrl)">{{scope.row.fileUrl}}</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-main>
  </el-card>
</template>

<script>
import axios from "axios";
export default {
  name: "OutSourcing",
  data() {
    return {
      loading: false,
      data: [],
    };
  },
  methods: {
    loadOrders() {
      this.loading = true;
      this.$http("outsourcing", {
        params:{
          person: this.person
        }
      })
          .then(({ data }) => {
            this.data = data;
          })
          .catch(({ response }) => {
            this.$alert(
                `${response.data.error_description ||
                "Ma'lumotlarni yuklashda xatolik bo'ldi!"}`,
                `Xatolik!`,
                {
                  confirmButtonText: "OK",
                  type: "error"
                }
            );
          })
          .finally(() => {
            this.loading = false;
          });
    },
    async downloadFile(url) {
      this.loading = true;
      const res = await axios
          .get(
              `${process.env.VUE_APP_BASIC_URL}/${url}`,
              {
                responseType: "arraybuffer",
                headers: {
                  Authorization: `Bearer ${this.$store.state.accessToken}`
                },
                params: {
                }
              }
          )
          .then(res => res)
          .catch(({ response }) => {
            this.$alert(
                `${response.data.message || "Ma'lumot yuklashda xatolik!"}`,
                `Xatolik`,
                {
                  confirmButtonText: "OK",
                  type: "error"
                }
            );
          });
      this.loading = false;
      var blob = new Blob([res.data]);
      console.log(await blob.stream());
      const link = document.createElement("a");
      link.href = URL.createObjectURL(blob);
      link.setAttribute("download", `${url.substring(url.lastIndexOf("/"))}`);
      document.body.appendChild(link);
      link.click();
    },
  },
  mounted() {
    this.loadOrders();
  }
};
</script>

<style scoped>
.list-wrap {
  height: calc(100vh - 200px);
  overflow-y: auto;
}
</style>
